/files/graphs/*.graphml
/files/graphs/*.gexf
/files/graphs/*.svg
/files/graphs/*.xml
/files/svg/*.svg
/files/svg/*.graphml
/files/svg/*.gexf
/files/svg/*.xml
/files/xml/*.xml
/files/xml/*.svg
/files/xml/*.graphml
/files/xml/*.gexf
/files/background_svgs/*.svg
.ipynb_checkpoints/*.ipynb
.ipynb_checkpoints/graphs-checkpoint.ipynb
*.pyc


.ipynb_checkpoints
*/.ipynb_checkpoints/*
